/* Base styles for card component */
.card-base {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid;
  transition: all 0.3s ease;
  width: 300px;
  max-width: 450px;
  margin: 20px;
  text-align: left;
}

/* Light Mode Template */
.card-light {
  background-color: #ffffff;
  border-color: #e5e7eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  color: #111827;
}
.card-light:hover {
  background: linear-gradient(135deg, #625ff8 0%, #9f4efd 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


/* Dark Mode Template */
.card-dark {
  background-color: #1f2937;
  border-color: #374151;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
  color: #f9fafb;
}
.card-dark:hover{
  background: linear-gradient(135deg, #625ff8 0%, #9f4efd 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-content {
  color: #7c8390;
}
.card-content:hover {
  color: #fff;
}

.card-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: 700;
}

/* icon */
.card-icon-base {
  width: 36px;
  height: 36px;
  margin-bottom: 12px;
  transition: filter 0.3s ease;
}

