.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md), var(--space-sm);
  width: 100%;
}

.performance-level {
  background-color: var(--color-accent);
  color: var(--color-bg);
  padding: var(--space-sm);
  width: var(--space-xl);
  height: var(--space-xl);
  border-radius: var(--radius-pill);    
}

.performance-description {
  flex-grow: 1;
}